<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
    <h6>Created at: {{post.createdAt}}</h6>
    <h6>Updated at: {{post.updatedAt}}</h6> 
  </div>
</div>